[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "scGOclust"]
	path = scGOclust
	url = https://github.com/papatheodorou-group/scgoclust
